body {
	box-sizing: border-box;
}
.results-header {
	height: 45px;
	background: #f8f8f8;
	border: 1px solid #bbb;
	width: 500px;
}

.results-gameTime {
	height: 45px;
	background: #355c99;
	float: right;
	width: 100px
}

.results-box {
	border: 1px solid #bbb;
	width: 500px;
	box-shadow: 0 2px 4px #e6e6e6;
}